@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');

:root {
    --principal-blue: #002746;
    --secondary-blue: #c1dde0;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 900;
}

img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--principal-blue), var(--secondary-blue));
    opacity: 60%;
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--principal-blue);
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    padding: 14px 22px;
    transition: all 0.3 ease;
}

.btn-main {
    background: linear-gradient(to right, #7b869c, var(--secondary-blue));
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff;

}

.btn:hover {
    color: #fff;
    transform: translateY(-5px);
}

.play-btn {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #7b869c, var(--secondary-blue));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100px;
}

.play-btn i{
    font-size: 32px;
}

.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.07);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(var(--principal-blue), var(--secondary-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 5px;
    width: 70px;
    background: linear-gradient(to right, #7b869c, var(--secondary-blue));
    margin: 16px auto;
}

.service .service-img {
    position: relative;
}

.service .service-img .icon {
    width: 90px;
    height: 90px;
    background: linear-gradient(to right, #7b869c, var(--secondary-blue));
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}



.service .service-img .icon i {
    font-size: 36px;
}

.feature i {
    background: -webkit-linear-gradient(var(--principal-blue), var(--secondary-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
}

.review{
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
}

.review .person{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 18px;
}

.review .person img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.review .stars{
    color: orange;
}

form .form-control{
    border-radius: 0;
    background: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

form .form-control:focus{
    color: white;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

form input.form-control{
    height: 54px;
}

form .form-control::placeholder{
    color: white;
}

footer {
    background: var(--principal-blue);
    color: white;
}

footer a{
    color: white;
}